.add-contact-page {
  @include default-centered-page;

  &__wrapper {
    margin-top: 230px;
    width: 539px;
  }

  &__title-wrapper {
    margin-bottom: 26px;
  }

  &__title {
    @include default-title;
  }
}
