.main-page {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-size: 16px;

  &__wrapper {
    margin-top: 44px;
    width: 1130px;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    margin-left: 16px;
    gap: 30px;
  }

  &__title,
  &__loader {
    font-family: 'Unbounded';
    font-size: 30px;
  }

  &__loader {
    padding: 30px;
    color: $color-deluge;
  }
}
