@font-face {
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-family: 'Proxima Nova Rg';
  src: url('src/assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('src/assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('src/assets/fonts/ProximaNova-Regular.ttf') format('tff');
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-family: 'Proxima Nova';
  src: url('src/assets/fonts/ProximaNova-Medium.woff2') format('woff2'),
    url('src/assets/fonts/ProximaNova-Medium.woff') format('woff'),
    url('src/assets/fonts/ProximaNova-Medium.ttf') format('tff');
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-family: 'Proxima Nova Rg';
  src: url('src/assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('src/assets/fonts/ProximaNova-Bold.woff') format('woff'),
    url('src/assets/fonts/ProximaNova-Bold.ttf') format('tff');
}

@font-face {
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-family: 'Proxima Nova';
  src: url('src/assets/fonts/ProximaNova-Black.woff2') format('woff2'),
    url('src/assets/fonts/ProximaNova-Black.woff') format('woff'),
    url('src/assets/fonts/ProximaNova-Black.ttf') format('tff');
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-family: 'Proxima Nova';
  src: url('src/assets/fonts/ProximaNovaT-Thin.woff2') format('woff2'),
    url('src/assets/fonts/ProximaNovaT-Thin.woff') format('woff'),
    url('src/assets/fonts/ProximaNovaT-Thin.ttf') format('tff');
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-family: 'Proxima Nova';
  src: url('src/assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('src/assets/fonts/ProximaNova-Semibold.woff') format('woff'),
    url('src/assets/fonts/ProximaNova-Semibold.ttf') format('tff');
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  font-family: 'Proxima Nova';
  src: url('src/assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
    url('src/assets/fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('src/assets/fonts/ProximaNova-Extrabld.ttf') format('tff');
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-family: 'Proxima Nova';
  src: url('src/assets/fonts/ProximaNova-Light.woff2') format('woff2'),
    url('src/assets/fonts/ProximaNova-Light.woff') format('woff'),
    url('src/assets/fonts/ProximaNova-Light.ttf') format('tff');
}
