.main-page__add-button {
  width: 174px;
  height: 45px;
  border-radius: 30px;
  border: 0;
  background-color: $color-lavender;
  color: $color-purple-heart;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: auto;
  }

  & > span {
    font-family: 'Unbounded';
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
