.contact-form {
  font-size: 16px;
  &__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  &__button {
    @include default-centered-element;
    width: 277px;
    height: 60px;
    padding: 22px 35px 21px;
    border-radius: 30px;
    border: 0;
    background-color: $color-purple-heart;
    color: $color-white;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      cursor: auto;
      background-color: lighten($color: $color-purple-heart, $amount: 10);
    }
  }

  &__button-text {
    font-family: 'Unbounded';
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transform: scale(1.3, 1);
    -ms-transform: scale(1.3, 1);
    transform: scale(1.3, 1);
  }

  &__error {
    padding: 10px;
    color: $color-purple-heart;
  }
}

.form-input {
  margin: 10px 0 18px 0;

  &:last-of-type {
    margin-bottom: 16px;
  }

  &__label {
    font-weight: 700;
    color: $color-haiti;
  }

  &__label-required {
    margin-left: 2px;
    color: $color-purple-heart;
  }

  &__input {
    margin-top: 5px;
    padding: 20px;
    border: 1px solid $color-magnolia;
    border-radius: 16px;
  }
}
